@use "./fonts" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media (max-width: 1536px) {
    font-size: 52%;
  }

  @media (max-width: 1280px) {
    font-size: 45%;
  }
}

body {
  font-family: "Ancizar Serif";
  font-size: 2.8rem;
  // line-height: 3.6rem;
  font-weight: 400;

  background-color: $bg-primary;
}

.text__text {
  line-height: 3.6rem;
}

main {
  margin: 0 8rem 0 8rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

.top-line {
  grid-column: 1 / -1;
  grid-row: 1;
  margin-top: 8rem;

  border-bottom: 2px solid $black;
}

.bottom-line {
  grid-column: 1 / -1;
  grid-row: 3;
  margin-bottom: 8rem;

  border-top: 2px solid $black;
}

.text {
  grid-column: 1 / span 6;

  .text-below {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem;
  }

  &__title {
    width: auto;
    font-size: 9.6rem;
    line-height: 100%;
    letter-spacing: 0.5rem;

    padding: 4rem 0 4rem 4rem;

    border-bottom: 2px solid $black;

    // border-right: 2px solid $black;
    // border-left: 2px solid $black;

    &--accent {
      color: $green;
    }
  }

  &__text {
  }

  &__contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    &__names {
      display: flex;
      flex-direction: column;
    }

    &__instagram {
      display: flex;
      flex-direction: column;
      text-align: end;
    }
  }
}

.link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $green;
  }
}

.lobby-right {
  grid-column: 7 / span 6;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid $black;

  .plant-container {
    flex: 1;
    min-height: 0;
    border-bottom: 2px solid $black;
  }
  .start {
    align-self: center;
    padding: 4rem 2rem 4rem 2rem;
  }
}

.btn {
  text-decoration: none;
  font-family: "Ancizar Serif";
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 100%;
  letter-spacing: 0.5rem;

  background-color: $bg-primary;
  border: none;
  // padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}

.btn-start {
  color: $green;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
    // letter-spacing: 100%;
  }
}
